body{
    font-family: 'Cairo', sans-serif;
    margin: 0;
}

h1{
    font-size: 55px;
    margin: 0;
    padding: 0%;
    font-weight: 700;
}

p{
    font-size: 20px;
}

.box-font{
    font-size: 18px;
}
.common-section{
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
}

.width-control{
    width: 50%;
    padding: 8%;
}

.heading-color{
    color: #8c7e39;
}

.head-border{
    border-left: 5px solid rgb(169, 113, 10);
    padding-left: 10px;
}

.click-button{
    color: white;
    font-weight: 500;
    text-decoration: none;
    background-image: linear-gradient(rgb(180, 126, 25), rgb(96, 70, 14));
    padding: 8px 32px;
    border-radius: 10px;
}

.download-button{
    color: white;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid wheat;
    border-radius: 10px;
    padding: 8px 32px;
}

.align-heading{
    text-align: center;
    margin-bottom: 30px;
}

.div-align{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 60px;
    margin-top: 40px;
}

.img-size{
    width: 79px;
    height: 113px;
}

.text-box{
    box-shadow: 5px 5px 20px rgb(190, 187, 183);
    margin-left: 1%;
    margin-right: 1%;
    padding: 2%;
    border-radius: 20px;
}

.box-1{
    background-color: rgb(227, 209, 164);
}

.box-2 {
    background-color: rgb(181, 218, 230);
}

.box-3 {
    background-color: rgb(224, 171, 171);
}

.box-4{
    margin-top: 40px;
    background-image: linear-gradient(#7b5f3382, #5f3a0a82);
    color: wheat;
    height: 150px;
    width: 250px;
    align-content: center;
}
.izaya{
    width: 510px;
    height: 490px;
}

.bg-shape{
    background-image: url(/img/shape-1.png);
    background-repeat: no-repeat;
    background-position: 15% 5%;
    background-size: 40% 40%;
}

.bg-shizuo{
    background-image: url(/img/shape-8.png);
    background-repeat: no-repeat;
    background-size: 30% 30%;
    background-position:5% 90%;
}

#shape1{
    background-image: url(/img/shape-1.png), url(/img/shape-1.png);
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position: 0% 180%, 97% 0%;
}

footer{
    text-align: center;
    color: white;
    background-color: rgba(41, 30, 19, 0.642);
    margin-top: 150px;
    padding: 2%;
}
